<html>

<head>
    <title>The Patterns Project</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="css/reset.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
</head>

<body>
    <header>
        <h1>The Patterns Project</h1>
        <h2>A catalog of <a href="https://www.allegorithmic.com/products/substance-designer">Substance Designer</a> patterns.</h2>
    </header>

    <div id="tooltip"></div>
    <div class="main-content">
        <ul class="pattern-list"></ul>
    </div>

    <footer>
        <p>
            See <a href="https://github.com/zshewmaker/PatternsProject">github</a> to learn the whats and hows of this site.
            <a href="https://twitter.com/Zknet">Contact me.</a>
        </p>
        <div class="legal">&copy; Azaia LLC</div>
        <div class="legal">Not affiliated with <a href="https://www.allegorithmic.com/">Allegorithmic</a>.</div>
    </footer>

    <script type="text/x-jsrender" id="pattern-template">
        <li class="pattern" data-pattern-id="{{:id}}">
            <h1>{{:name}}</h1>
            <canvas id="canvas-{{:id}}" class="cables"></canvas>
            <ul class="node-list">{{for nodes}}
                <li class="node {{if isOutputNode}} output{{/if}}{{if isDocked}} docked{{/if}}{{if isFilter}} filter{{/if}}{{if isGenerator}} generator{{/if}}" data-node-id="{{:id}}">
                    <div class="connectors">
                        <ul class="input-list">{{for inputs}}
                            <li class="input" data-input-from-id="{{:fromOutputId}}" data-input-from-node-id="{{:fromNodeId}}">
                                <div class="input-name">{{:name}}</div>
                            </li>
                        {{/for}}</ul>
                        <ul class="output-list">{{for outputs}}
                            <li class="output" data-output-id="{{:#data}}"></li>
                        {{/for}}</ul>
                    </div>
                    <h2>{{:name}}</h2>
                    
                    <div class="parameters-content">
                        <h3>Parameters</h3>
                        <ul class="parameter-list">{{for parameters}}
                            <li class="parameter">
                                <strong>{{:name}}</strong>
                                <div class="value">{{:value}}</div>
                            </li>
                        {{/for}}</ul>
                    </div>

                    {{if isOutputNode}}
                        <img src="PatternsProject_Simple_Patterns_{{:outputName}}.png" alt="{{:outputName}}"/>
                    {{/if}}
                </li>
            {{/for}}</ul>
            <br class="clear-all"/>
        </li>
    </script>

    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.16.4/lodash.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.82/jsrender.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jcanvas/16.7.3/jcanvas.js"></script>
    <script src="patterns.js"></script>
    <script src="js/main.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-86847646-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>