* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 13px;
}

body {
  background-color: #202020;
  color: #eeeeee;
  font-family: 'Roboto', sans-serif;
  margin: 20px;
}

a {
  color: #eeeeee;
}

header h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 50px 0 0 0;
  text-align: center;
}

header h2 {
  font-style: italic;
  font-size: .9rem;
  font-weight: 500;
  margin: 20px 0 50px 0;
  text-align: center;
}

header a {
  color: eeeeee;
}

.clear-all {
  clear: both;
}

canvas.cables {
  position: absolute;
  z-index: 100;
}

.main-content,
footer {
  margin: 0 auto;
  max-width: 66%;
  min-width: 1024px;
}

.pattern {
  background-color: #303030;
  margin-bottom: 80px;
  min-height: 700px;
  padding: 40px 20px;
  position: relative;
}

.pattern h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 15px;
}

.node-list {
  margin: 10px;
}

.node {
  background-color: #202020;
  border: 1px solid #000000;
  margin: 10px;
  min-height: 150px;
  padding-bottom: 5px;
  position: absolute;
  width: 150px;
}

.node h2 {
  background-color: #202020;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  overflow: hidden;
  padding: 5px 10px;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.node.output h2 {
  background-color: #6e6c7f;
}

.node.filter h2 {
  background-color: #878787;
  color: #000000;
}

.node.generator h2 {
  background-color: #872024;
}

.node.docked h2 {
  background-color: #4a577b;
  border-top-right-radius: 25px;
  color: #eeeeee;
}

.node.docked .parameters-content {
  display: none;
}

.node.docked {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  min-height: 50px;
  width: 100px;
}

.node img {
  display: block;
  height: 128px;
  margin: 0 auto;
  width: 128px;
}

.node h3 {
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.node .parameters-content {
  display: none;
}

.node .parameter-list {
  margin: 15px;
}

.node .parameter {
  margin-bottom: 5px;
}

.node .parameter strong::after {
  content: ':';
}

.node .parameter .value {
  display: inline-block;
}

.node .connectors {
  position: absolute;
  width: 100%;
}

.node .connectors .input-list,
.node .connectors .output-list {
  top: 20px;
}

.node.docked .connectors .input-list {
  top: -4px;
}
.node.docked .connectors .output-list {
  display: none;
}

.node .connectors .input-list {
  left: -10px;
  position: absolute;
}

.node .connectors .output-list {
  right: -10px;
  position: absolute;
}

.node .input-list .input,
.node .output-list .output {
  background-color: #d0d0d0;
  border: 1px solid #000000;
  border-radius: 50%;
  margin-top: 20px;
  width: 20px;
  height: 20px;
}

footer .legal {
  font-size: .8rem;
  margin: 10px 0;
}